<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/ICONE_NAVEGADOR.png">
    <title>Golden State Warrios - Time</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
    <style>
        table{
            border-collapse: separate;
             width: 50%;
             text-align: center;
        }
    </style>
</head>
<body>
    <header>
        <a href="Página-Inicial.html" style='text-decoration: none;color: black;'>
            <img src="images/NBA_LOGO.png" alt="NBA LOGO" height="50px" width="25px" align="left">
        </a>
        <a class="cadastro" href="PageCadastro.html" align="right">
            <h2>Cadastro</h2>
        </a>
    </header>

    <hr>

    <img src="images/Times_Pacifico/GoldenStateWarriors/GoldenStateWarriors.png" alt="Golden State Warriors Logo" height="100px" width="100px">

    <svg width="400" height="100">
        <rect width="400" height="100"/>
        <text fill="#ffffff" font-size="45" font-family="Verdana" x="120" y="65">Elenco</text>
    </svg>

    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Posição</th>
                <th>Idade</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Stephen Curry</td>
                <td>Guard</td>
                <td>35</td>
            </tr>
            <tr>
                <td>Draymond Green</td>
                <td>Forward</td>
                <td>33</td>
            </tr>
            <tr>
                <td>JaMychal Green</td>
                <td>Forward</td>
                <td>33</td>
            </tr>
            <tr>
                <td>Andre Iguodala</td>
                <td>Forward</td>
                <td>39</td>
            </tr>
            <tr>
                <td>Trayce Jackson-Davis</td>
                <td>Forward</td>
                <td>23</td>
            </tr>
            <tr>
                <td>Jonathan Kuminga</td>
                <td>Forward</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Anthony Lamb</td>
                <td>Forward</td>
                <td>25</td>
            </tr>
            <tr>
                <td>Kevon Looney</td>
                <td>Center</td>
                <td>27</td>
            </tr>
            <tr>
                <td>Moses Moody</td>
                <td>Guard</td>
                <td>21</td>
            </tr>
            <tr>
                <td>Chris Paul</td>
                <td>Guard</td>
                <td>38</td>
            </tr>
            <tr>
                <td>Gary Payton II</td>
                <td>Guard</td>
                <td>30</td>
            </tr>
            <tr>
                <td>Brandin Podziemski</td>
                <td>Guard</td>
                <td>20</td>
            </tr>
            <tr>
                <td>Lester Quinones</td>
                <td>Guard</td>
                <td>22</td>
            </tr>
            <tr>
                <td>Dario Saric</td>
                <td>Forward</td>
                <td>29</td>
            </tr>
            <tr>
                <td>Klay Thompson</td>
                <td>Guard</td>
                <td>33</td>
            </tr>
            <tr>
                <td>Andrew Wiggins</td>
                <td>Forward</td>
                <td>28</td>
            </tr>
        </tbody>
    </table>

    <p><b>Nome do técnico:</b> Steve Kerr</p>
    <hr>
    <h2>Melhores Momentos da Temporada 2022/2023</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/2lHaf0ByKow" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.2.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

    <script>
        $(document).ready( function () {
            $('table').DataTable();
        });
    </script>

</body>
</html>