<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="images/ICONE_NAVEGADOR.png">
    <title>La Clippers - Time</title>
    <link rel="stylesheet" type="text/css" href="Style.css">
    <style>
        ul{
            font-family: Arial;
            font-size: large;
        }
    </style>
</head>
<body>
    <header>
        <a href="Página-Inicial.html" style='text-decoration: none;color: black;'>
            <img src="images/NBA_LOGO.png" alt="NBA LOGO" height="50px" width="25px" align="left">
        </a>
        <a class="cadastro" href="PageCadastro.html" align="right">
            <h2>Cadastro</h2>
        </a>
    </header>

    <hr>

    <img src="images/Times_Pacifico/LaClippers/LaClippers.png" alt="LA Clippers Logo" height="100px" width="100px">
    <svg width="400" height="100">
        <rect width="400" height="100"/>
        <text fill="#ffffff" font-size="45" font-family="Verdana" x="120" y="65">Elenco</text>
    </svg>
    <ul>
        <li>Nicolas Batum</li>
        <li>Brandon Boston Jr</li>
        <li>Kobe Brown</li>
        <li>Amir Coffey</li>
        <li>Robert Covington</li>
        <li>Moussa Diabate</li>
        <li>Paul George</li>
        <li>Bones Hyland</li>
        <li>Kawhi Leonard</li>
        <li>Terance Mann</li>
        <li>KJ Martin</li>
        <li>Kenyon Martin Jr.</li>
        <li>Jordan Miller</li>
        <li>Xavier Moon</li>
        <li>Marcus Morris Sr.</li>
        <li>Mason Plumlee</li>
        <li>Norman Powell</li>
        <li>Jason Preston</li>
        <li>Russell Westbrook</li>
        <li>Ivica Zubac</li>
    </ul>
    <p><b>Nome do técnico:</b> Tyronn Lue</p>
    <hr>
    <h2>Melhores Momentos da Temporada 2022/2023</h2>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/V8PQlnMKZ4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</body>
</html>